@model List<App_v2.Models.PersonExcercise>

@{
    ViewData["Title"] = "Rekordy siłowe";
}


<div class="jumbotron">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <h4 class="lead col-md-6" style="font-size:1.5rem">Twoje rekordy siłowe w konkretnych ćwiczeniach</h4>
    <hr />
        <table class="table table-hover">
            <thead>
                <tr class="table-active">
                    <th scope="col">Nazwa ćwiczenia</th>
                    <th scope="col">Ciężar(kg) / Czas(s)</th>
                    <th scope="col">Wskaźnik progresu</th>
                    <th scope="col">Akcja</th>
                </tr>
                @{
                    for (int i = 0; i < Model.Count; i++)
                    {
                        if (i % 2 == 0)
                        {
                            <tr class="table-light">
                                <th scope="col">@Model[i].Excercise.Name</th>
                                <th scope="col">@Model[i].Max</th>
                                <th scope="col">@Model[i].Progress</th>
                                <th scope="col">@Html.ActionLink("Edytuj", "EditRecord", new {id=Model[i].ID })</th>
                            </tr>
                        }
                        else
                        {
                            <tr class="table-secondary">
                                <th scope="col">@Model[i].Excercise.Name</th>
                                <th scope="col">@Model[i].Max</th>
                                <th scope="col">@Model[i].Progress</th>
                                <th scope="col">@Html.ActionLink("Edytuj", "EditRecord", new { id = Model[i].ID })</th>
                            </tr>
                        }
                    }
                }
            </thead>

        </table>
    <div>
        <a asp-action="Index">Powrót do strony głównej</a>
    </div>


</div>