@model List<App_v2.Models.Subtraining>

@{
    ViewData["Title"] = "Lista Podtreningów";
}


<div class="jumbotron">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <hr />
    <table class="table table-hover col-md-6">
        <thead>
            <tr class="table-active">
                <th scope="col">Nazwa</th>
                <th scope="col">Akcja</th>
            </tr>
            @{
                for (int i = 0; i < Model.Count; i++)
                {
                    if (i % 2 == 0)
                    {
                        <tr class="table-light">
                            <th scope="col">@Model[i].Name</th>
                            <th scope="col">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                <div class="dropdown-menu" style="">
                                    <a class="dropdown-item" asp-action="HistoryTrainings" asp-controller="Exercise" asp-route-id="@Model[i].ID">Podgląd historii</a>
                                    <a class="dropdown-item" asp-action="AddHistoryTraining" asp-controller="Exercise" asp-route-id="@Model[i].ID">Nowy trening</a>
                                    <a class="dropdown-item" asp-action="TrainingDetails" asp-controller="Exercise" asp-route-id="@Model[i].ID">Szczegóły treningu</a>
                                </div>
                            </th>
                        </tr>
                    }
                    else
                    {
                        <tr class="table-secondary">
                            <th scope="col">@Model[i].Name</th>
                            <th scope="col">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                <div class="dropdown-menu" style="">
                                    <a class="dropdown-item" asp-action="HistoryTrainings" asp-controller="Exercise" asp-route-id="@Model[i].ID">Podgląd historii</a>
                                    <a class="dropdown-item" asp-action="AddHistoryTraining" asp-controller="Exercise" asp-route-id="">Nowy trening</a>
                                    <a class="dropdown-item" asp-action="TrainingDetails" asp-controller="Exercise" asp-route-id="@Model[i].ID">Szczegóły treningu</a>
                                </div>
                            </th>
                        </tr>
                    }
                }
            }
        </thead>

    </table>
    <div>
        <a asp-action="Index" asp-controller="Home">Powrót do strony głównej</a>
    </div>


</div>